<h1>購入履歴ページ</h1>

<thead>
    <tr>
      <th>ジャケット画像</th>
      <th>商品名</th>
      <th>アーティスト名</th>
    </tr>
  </thead>

  <tbody>
  <% @purchases_histories.each do |purchases_history| %>

    <tr>
      <td><%= attachment_image_tag purchases_history, :jacket_image, :fill, 100, 100, format: 'jpeg', fallback: "no_image.jpg", size:'200x200' %></td>
      <td><%= link_to purchases_history.single_album_name, purchases_history_path(purchases_history) %></td>
      <td><%= purchases_history.artist.artist_name %></td>
    </tr>
  </tbody>

  <% end %>

</table>

<%= paginate @purchases_histories, class: "paginate" %>
