<h1>購入履歴ページ</h1>

<thead>
    <tr>
      <th>ジャケット画像</th>
      <th>商品名</th>
      <th>アーティスト名</th>
    </tr>
  </thead>

  <tbody>
    
  <% @purchase_histories.each do |purchase_history| %>
  
    <tr>
      <td><%= attachment_image_tag purchase_history.purchase_products, :jacket_image, :fill, 100, 100, format: 'jpeg', fallback: "no_image.jpg", size:'200x200' %></td>
      <td><%= link_to purchase_history.single_album_name, purchase_history_path(purchase_history) %></td>
      <td><%= purchase_history.artist.artist_name %></td>
    </tr>
  </tbody>

  <% end %>

</table>

<%= paginate @purchase_histories, class: "paginate" %>
