<h1>購入確認画面</h1>

<table>


	<thead>
		<tr>
			<th>ジャケット画像</th>
			<th>商品名</th>
			<th>枚数</th>
			<th>小計</th>
		</tr>
	</thead>

	<tbody>
	
	</tbody>

	<h3>お届け先の選択</h3>

	<h3>支払い方法の選択</h3>

</table>

<%= link_to '購入確定', products_path %>

