<div class="nested-fields">
  <%= f.hidden_field :address_priority, value: '1' %>
  <h4>郵便番号</h4>
  <%= f.text_field :postcode, class: "col-xs-2 postcode" %><br>
  <h4>住所</h4>
  <%= f.text_field :address, class: "col-xs-2 address" %><br>
  <%= link_to_remove_association "住所削除", f %>
</div>