


<h1>ユーザー一覧</h1>

<h2>Users</h2>

<table class="table">


	<thead>
		<tr>
			<th>Name</th>
			<th>Email</th>
			<th></th>
			<th></th>
		</tr>
	</thead>

	<!-- 退会済みユーザー合わせて表示 -->
	<% @users.with_deleted.each do |user| %>

	<tbody>
		<tr>
			<td><%= user.user_firstname %></td>
			<td><%= user.email %></td>
			<td><%= link_to "show", user_path(user) %></td>
			<% if user.deleted_at %>
				<td>退会済み</td>
			<% end %>
			<td>
		</tr>
	</tbody>

	<% end %>

</table>

<%= paginate @users, class: "paginate" %>