


<h1>ユーザー一覧</h1>

<h2>Users</h2>

<table>


	<thead>
		<tr>
			<th>Name</th>
			<th>Email</th>
			<th></th>
		</tr>
	</thead>

	<% @users.with_deleted.each do |user| %>

	<tbody>
		<tr>
			<td><%= user.user_firstname %></td>
			<td><%= user.email %></td>
			<td><%= link_to "show", user_path(user) %></td>
		</tr>
	</tbody>

	<% end %>

</table>

<%= paginate @users, class: "paginate" %>