

<h1>商品一覧ページ</h1>

<table>


	<thead>
		<tr>
			<th>CD名</th>
			<th>アーティスト名</th>
			<th></th>
		</tr>
	</thead>

	<tbody>
	<% @products.each do |product| %>

		<tr>
			<td><%= product.single_album_name %></td>
			<td><%= link_to product.single_album_name, product_path(product) %></td>
		</tr>
	</tbody>

	<% end %>

</table>




