<p>ようこそmu-recoへ</p><br>
<p>このサイトではジャケ買いをコンセプトとしております。</p><br>
<p>ぜひアーティストも値段も見ずにジャケット写真だけを見て購入してください。</p><br>
<p>最近はストリーミングで音楽を楽しむことも多くなってきたかと思います。</p><br>
<p>そんな時代にあえて、CDで音楽を楽しみませんか？</p><br>
<p>それもジャケ買いで！！</p><br>
